.details-banner {
    position: relative;
    min-height: 450px;
    display: block;

    border: 1px solid gray;
    border-radius: 8px;
    overflow: hidden;

    box-sizing: border-box;
    color: white;

    background-size: cover;
    background-position: center;
    background-color: #111;
    margin-bottom: 40px;
}

.details-banner p {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30%;
    height: 7%;
    margin-left: 10px;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}

.details-banner h1 {
    margin-left: 30px;
    font-size: 60px;
}

.details-banner img {
    position: absolute;
    bottom: 0;
    right: 0;
}

.details {
    border: 1px solid gray;
    border-radius: 8px;
    overflow: hidden;
    color: white;
    background-color: #111;
    font-size: 35px;
}

.details p {
    margin-left: 10px;
}
.details-layout {
    display: flex;
    gap: 40px;
    margin: 100px;
}


.details-layout {
    display: flex;
    gap: 40px;
    height: 100vh;
    padding: 40px;
    box-sizing: border-box;
}

.details-side {
    flex: 1;
    min-width: 280px;

    border: 1px solid gray;
    border-radius: 8px;
    background-color: #111;
    color: white;

    overflow-y: auto;
    max-height: 82.4%;
    padding: 20px;
}

.details-left {
    flex: 3;
    overflow: hidden;
}

.details-side::-webkit-scrollbar {
    width: 8px;
}
.details-side::-webkit-scrollbar-thumb {
    background: #444;
    border-radius: 4px;
}